@page
@using LeadGeneration.Views.Home;
@using LeadGeneration.Views.Customer;
@model CustomerAdminModel;

<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Senior Insurance Advisors &amp; Retirement</title>
</head>

<body>
	<main>
		<section>
			<h1>Customer List Administration</h1>
			<p>This page is used as a launch page to manage the data which is entered by way of customer interest. <br />
				The data will be reviewable by appropriate personnel for retention or update.</p>
		</section>
		<article>
			<section>
				<ul>
					<li><a href="/Customer/Index">Display Customer List</a></li>
					<li><a href="/Customer/InsertCustomer/">Create a New Customer</a></li>
				</ul>
			</section>
		</article>
	</main>

</body>
