@page
@using LeadGeneration.Views.Home;
@model AboutMeModel

<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Senior Insurance Advisors &amp; Retirement</title>
</head>

<body>
	<main>
	<style>
		#blppic {
			border-radius: 75px;
		}
	</style>

	<table>
		<tr>
			<td>
		<section>
		<h1>Barbara Patterson</h1>
		<img id="blppic" src="~/images/blppic2.jpg" width="90%" /><p>
			</section>
			</td>
			<td>
				<article>
					<section>
						<br /><br /><h3>Helping to make your Medicare decisions better.</h3><br /><br />
						<p>I love simplifying the complicated world of Medicare and making sure all your needs are covered when you turn 65.  I am Barbara Patterson and I am an agent in the Houston and surrounding areas of Texas.  I've lived and worked here in the insurance field for over 30 years helping Seniors.
						With a Financial Planning background and degree, I can assist you with a comprehensive analysis regarding your Medicare decisions.  Whether it's an electronic enrollment, a plan comparison or a confirmation that your doctors, specialists, prescriptions and any extra benefits needed are covered
						now and for years to come, I am here to help you each step of the way.  I also have a local office or am willing to meet with you at a place of your convenience and offer phone and online appointments.
						</p>
					</section>
					<section>
						<p>
						So, if you are overwhelmed by the large amount of mail you have received from many different companies before your 65th birthday, feel free to reach out to me.  My goal is to explain your options and answer your questions.  Often Medicare becomes a better option for you than
						your expensive group health or individual health coverage due to much smaller deductibles and premiums.  Having been in the health insurance field since the early 1990s, I'm very familiar with the inflationary costs. I bring an advisor approach to you so I can give you confidence in your Medicare decisions.
					</p>
					</section>
				</article>
			</td>
		</tr>
	</table>
	
	</main>

</body>
