@page
@using LeadGeneration.Views.Home;
@model ContactMeModel

<head>
    <meta charset="utf-8" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Senior Insurance Advisors &amp; Retirement</title>
</head>

<body>
	<style>
		#blppic {
			border-radius: 100px;
		}
			
		.container
		{
			display: flex;
		}

		img {
			margin: 6px;
		}
	</style>

	<main>
		<section>
		<h1>Barbara Patterson</h1>
		<p>
			<section>

			<div class="container">
				<img id="blppic"  src="~/images/blppic2.jpg" width=20% />

					<p><br /><br />
					<strong>Email:</strong>    bpattersoninsurance@yahoo.com<br /><br />
					<strong>Mobile Phone:</strong>     (713) 302-9515<br /><br />
					<strong>Address:</strong><br />
					24624 I-45 North<br />
					Spring, TX  77386<br />
					</p>
			</div>
			<h4>Reach out for help with your Medicare decisions!</h4><br />
			<h3>
					Please click on this link to <a href="/Customer/InsertCustomer/">enter your personal data.</a>
			</h3>

			</section>
		</p>
		</section>
	</main>

</body>
