@{
    ViewData["Title"] = "Home Page";
}

<style>
	#placeholder1 {
		margin-top: 50px;
		background-image: url('images/sunrise1.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		border-radius: 25px;
	}

	h2 { 
		color: white;
		text-align : center;
	}

	#ph-text1 {padding-top: 40px;}

</style>
	<header>
	</header>

	<main>
		<section>
			<h1>Senior Insurance Advisors & Retirement</h1>
		</section>

	<div id="placeholder1" width=100% height=100%>	
		<div id="ph-text1" width=100% height=100%>
			<h2>It's a new day.  It's time for a new perspective.</h2>
		</div>
		<br />	<br />		<br />		<br />
		<br />		<br />		<br />		<br />
		<br />		<br />		<br />		<br />
		<br />		<br />		<br />		<br />
		<br />		<br />		<br />		<br />
	
	</main>
